doctype html
html
  head
    title= Droppit
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='../bower_components/font-awesome/css/font-awesome.min.css')
    script(src='../bower_components/jquery/dist/jquery.min.js')
    script(src='../bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='../bower_components/angular/angular.min.js')
    script(src='/javascripts/droppit-client.js')
    script(src='/javascripts/global.js')
    script(src='/javascripts/controllers.js')


  body(ng-controller='droppitCtrl')
    block content
